* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter" ,system-ui;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}


.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.greenButton {
  width: 325px;
  height: 55px;
  background-color: #9DD458;
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .2s ease-in;

  &:hover {
    background-color: lighten($color: #7ca747, $amount: 10%);
  }
  &:active {
    background-color: darken($color: #7ca747, $amount: 5%);
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;

  &-drawer {
    right: 0;
    position: absolute;
    width: 385px;
    height: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
        transition:  transform .2s ease-in-out;
      
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .items {
      flex: 1;
      overflow: auto;
      margin-bottom: 15px;
      padding-right: 10px;
      .cartItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 20px;
        border: 1px solid #F3F3F3;
        border-radius: 20px;
        margin-bottom: 20px;
  
        &-img {
          width: 70px;
          height: 70px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
  
        p {
          margin-bottom: 5px;
          font-size: 14px;
        }
  
        .delete {
          opacity: 0.5;
          cursor: pointer;
          transition:  transform .2s ease-in-out, opacity .3s ease-in-out;
          &:hover {
            opacity: 1;
            transform: scale(1.1);
          }
        }
      }
    }

  }

  .cardTotal {
    ul {
      margin-bottom: 25px;

      li {
        display: flex;
        align-items: baseline;
        margin-bottom: 20px;
        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #DFDFDF;
          margin: 0px 5px;
        }
      }
    }

    .greenButton {
      position: relative;
      &:hover {
        img {
          transform: translateX(5px);
        }
      }
      img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform .15s ease-in-out;
      }
    }
  }

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  border-bottom: 1px solid #EAEAEA;

  .headerLeft {
    display: flex;
    align-items: center;
    gap: 15px;
    &-info {
      h3 {
        text-transform: uppercase;
      }
      P {
        color: #9D9D9D;
        opacity: 0.5;
      }
    }
  }
  .headerRight {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    :nth-child(1) {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        color:#5C5C5C;
      }
    }
  }
}

section.content {
  padding: 45px 60px;
  h1 {
    font-size: 32px;
  }
  .wrapp-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .search {
      border: 1px solid #F3F3F3;
      border-radius: 15px;
      padding-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: text;
      input {
        border: 0;
        padding: 15px 15px;
        color: #C4C4C4;
        font-size: 16px;
        
      }
      input:focus-visible {
        outline: none;
      }
    }
  }



  .sneakers {
    display: flex;
    gap: 40px; 
    .card {
      border: 1px solid #F3F3F3;
      border-radius: 40px;
      padding: 30px;
      width: 210px;
      background: #fefefe;
      transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;

      .like {
        position: absolute;
        cursor: pointer;
      }
  
      h5 {
        font-weight: 400;
        font-size: 14px;
      }
  
      &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
  
        &-price {
          display: flex;
          flex-direction: column;
          p {
            font-size: 13px;
            text-transform: uppercase;
            opacity: 0.5;
          }
          b {
            font-size: 15px;
          }
        }
        &-btn {
          background: #FFFFFF;
          border: 1px solid transparent;
          box-sizing: border-box;
          border-radius: 8px;
          cursor: pointer;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  .card:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
  }

}
