.img-btn:hover {
    filter: brightness(0.9);
}
.card {
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 30px;
    width: 210px;
    background: #fefefe;
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;

    .like {
        position: absolute;
        cursor: pointer;
    }

    h5 {
        font-weight: 400;
        font-size: 14px;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        &-price {
        display: flex;
        flex-direction: column;
        p {
            font-size: 13px;
            text-transform: uppercase;
            opacity: 0.5;
        }
        b {
            font-size: 15px;
        }
        }
        &-btn {
        background: #FFFFFF;
        border: 1px solid transparent;
        box-sizing: border-box;
        border-radius: 8px;
        cursor: pointer;
        width: 32px;
        height: 32px;
        }
    }
}

.card:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  transform: translateY(-5px);
}