.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.overlay-drawer {
  right: 0;
  position: absolute;
  width: 385px;
  height: 100%;
  background-color: white;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay-drawer h2 {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overlay-drawer h2 img {
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: transform .2s ease-in-out, filter .2s ease-in-out;
  transition: transform .2s ease-in-out, filter .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-filter .2s ease-in-out;
}

.overlay-drawer h2 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.overlay-drawer .items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  margin-bottom: 15px;
  padding-right: 10px;
}

.overlay-drawer .items .cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding: 20px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  margin-bottom: 20px;
}

.overlay-drawer .items .cartItem-img {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-drawer .items .cartItem p {
  margin-bottom: 5px;
  font-size: 14px;
}

.overlay-drawer .items .cartItem .delete {
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: opacity .3s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: filter .2s ease-in-out, opacity .3s ease-in-out;
  transition: filter .2s ease-in-out, opacity .3s ease-in-out, -webkit-filter .2s ease-in-out;
}

.overlay-drawer .items .cartItem .delete:hover {
  opacity: 1;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.overlay .cardTotal ul {
  margin-bottom: 25px;
}

.overlay .cardTotal ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}

.overlay .cardTotal ul li div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  border-bottom: 1px dashed #DFDFDF;
  margin: 0px 5px;
}

.overlay .cardTotal .greenButton {
  position: relative;
}

.overlay .cardTotal .greenButton:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.overlay .cardTotal .greenButton img {
  position: absolute;
  right: 30px;
  top: 20px;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}
/*# sourceMappingURL=Drawer.css.map */